@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.home__container {
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 10vh 80vh 0.3fr 0.1fr 0.5fr 0.5fr min-content;
  grid-template-areas:
    "header-main"
    "hero"
    "services"
    "teckstack"
    "blogs"
    "form"
    "footer";
  gap: 3rem;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}

.blogs__container {
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 10vh 0.2fr;
  grid-template-areas:
    "header-main"
    "heroAllblogs"
    "blogs"
    "footer";
  gap: 3rem;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

@mixin bp-devices {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin box-style {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}