.footer {
 grid-area: footer;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 1fr;
 background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
 padding: 20px;
 border-radius: 50px; 
 justify-items: center;

 &__ul {
   display: flex;
   list-style: none;
   align-items: center;
 }
}